name: CI

on:
  push:
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update local toolchain
        run: |
          rustup update
          rustup component add clippy        

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version                 

      - name: Install protobuf
        run: sudo apt-get install protobuf-compiler

      - name: Build
        run: |
          cd train_game_v2
          cargo build --release

      - name: Test
        run: |
          cd train_game_v2
          cargo check
          cargo test --all      
